/AedAssignment/nbproject/private/
/AedAssignment/build/
/Hospital Management System/nbproject/private/
/Hospital Management System/build/
/HMS/nbproject/private/
/HMS/build/
/Hospital Management System/HospitalManagementSystem/build/
/Hospital Management System/HospitalManagementSystem/nbproject/private/
/Hospital Management System/HospitalMng System/build/
/Hospital Management System/HospitalMng System/nbproject/private/
/Hospital Management System/Hospital_Managementt_System/build/
/Hospital Management System/Hospital_Managementt_System/nbproject/private/
/Hospital Management System/Hospital_Management_System/build/
/Hospital Management System/Hospital_Management_System/nbproject/private/
